.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6vw;
  background-color: white;
  color: black;
  border-radius: 40px;
  margin: 2vh 6vw;
  justify-content: center;
}

footer {
  display: flex;
  color: white;
  font-size: small;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* .homeBackground {
  background-color: white;
  color: black;
  border-radius: 40px;
} */


