.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6vw;
  background-color: white;
  color: black;
  border-radius: 40px;
  margin: 2vh 6vw;
  justify-content: center;
}

footer {
  display: flex;
  color: white;
  font-size: small;
  justify-content: center;
  align-items: center;
  margin: 0;
}

