.discoverColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40vw;
    height: 90vh;

    .newButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    
    .userPosts {
        max-height: 80vh;
        overflow: scroll;
    }

    .userPost {
        display: flex;
        flex-direction: column;
        background-color: #d0c2c2;
        border-radius: 30px;
        margin-bottom: 3%;
        flex-wrap: wrap;
        padding-left: 2vw;
        padding-right: 2vw;

        .postHeader {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            gap: 8px;

            .headerRowLeft {
                display: flex;
                flex-direction: row;
                align-items: center;

                .postPfp {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                }
            }

            .username {
                font-size: x-small;
            }
        }
        .postDescription {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
        }
        .postImages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            img {
                width: 150px;
                border-radius: 20px;
            }
        }
        .postButtons {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
            padding: 5px;

            .followButton {
                background-color: white;
            }
        }
    }
}