.discoverColumn {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45vw;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    .userPosts {
        overflow: scroll;
    }

    h2 {
        padding-bottom: 5px;
    }

    .userPost {
        display: flex;
        flex-direction: column;
        background-color: rgba(202, 210, 197, 0.8);
        margin-bottom: 5px;
        margin-right: 3%;
        flex-wrap: wrap;
        padding-left: 2vw;
        padding-right: 2vw;
        border-radius: 10px;
        color: black;
        font-family: "Outfit", sans-serif;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        .postHeader {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            gap: 8px;

            .headerRowLeft {
                display: flex;
                flex-direction: row;
                align-items: center;

                .postPfp {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                }
            }

            .username {
                font-size: x-small;
            }
        }
        .postDescription {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
        }
        .postImages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;

            img {
                width: 150px;
                border-radius: 20px;
            }
        }
        .postSongs {
            border-radius: 100px;
        }
        .postButtons {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            padding: 5px;
            padding-bottom: 20px;

            .followButton {
                color: black;
                background-color: white;
                font-size: small;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media only screen and (max-width: 699px) {
    .discoverColumn {
        width: 75vw;
    }
}