.discoverColumn {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-bottom: 30px;
    margin-top: 30px;
    height: 80%;
    text-align: left;
    
    .userPosts {
        overflow: scroll;
    }

    .userPost {
        display: flex;
        flex-direction: column;
        background-color: #d0c2c2;
        border-radius: 30px;
        margin-bottom: 3%;

        .postHeader {
            display: flex;
            flex-direction: row;
            gap: 62%;
            justify-content: center;
            padding-top: 20px;

            .postHeaderLeft {
                line-height: 0;
                text-align: left;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                .postPfp {
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                }
            }

            .postHeaderRight {
                padding-top: 20px;
            }
            .username {
                font-size: x-small;
            }
        }
        .postDescription {
            text-align: left;
            width: 500px;
            padding-left: 30px;
        }
        .postImages {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            img {
                width: 150px;
                border-radius: 20px;
            }
        }
    }
}