.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
}
.loginPage {
  background-color: rgba(66, 80, 87, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
  color: white;

    h1 {
        font-size: xx-large;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    p {
        text-align: center;
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .identifier {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .password{
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}


input {
    background-color: rgb(225, 222, 222);
    border-radius: 15px;
    padding: 5px;
    color: black;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: small;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;

    .credentials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20vw;
        padding-bottom: 80px;
        gap: 10px;

        .usernameInput {
            display: flex;
            flex-direction: column;
        }

        .passwordInput {
            display: flex;
            flex-direction: column;
        }
    }

    .loginButton {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
        margin-right: 10vw;
        background-color: #CAD2C5;
        color: black;
    }
}

@media screen and (max-width: 700px) {
    .loginBox {
        display: flex;
        height: 97vh;
    }
    .loginPage {
        background-color: rgba(66, 80, 87, 0.5);
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 70vw;
        border-radius: 30px;

        h1 {
            font-size: xx-large;
        }
        p {
            text-align: center;
        }
    }


    input {
        display: flex;
        background-color: rgb(235, 230, 230);
        border-radius: 15px;
        padding: 5px;
    }

    .loginContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;

        .credentials{
            display: flex;
            flex-direction: column;
            width: 55vw;
            padding-bottom: 80px;
            gap: 10px;
        }

        .loginButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    }
}

@media screen and (min-width: 700px) {
    .loginBox {
        display: flex;
        height: 97vh;
    }
    .loginPage {
        background-color: rgba(66, 80, 87, 0.55);
        display: flex;
        flex-direction: column;
        padding: 40px;
        width: 50vw;
        border-radius: 30px;

        h1 {
            font-size: xx-large;
        }
        p {
            text-align: center;
        }
    }


    input {
        display: flex;
        background-color: rgb(235, 230, 230);
        border-radius: 15px;
        padding: 5px;
    }

    .loginContainer {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;

        .credentials{
            display: flex;
            flex-direction: column;
            width: 35vw;
            padding-bottom: 80px;
            gap: 10px;
        }

        .loginButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10vw;
            margin-right: 10vw;
        }
    }
}