@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.popup {
    animation: popupAnimation 0.4s ease-out;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 80, 87, 0.7);
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    max-height: 600px;
    z-index: 10;
    color: white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 9;
}
.visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
        align-items: stretch;
        gap: 10px;

        h2 {
            margin-top: 0px;
        }
        label {
            font-weight: bold;
            margin-bottom: 4px;
        }
    }

    input[type="text"],
    input[type="number"],
    textarea,
    select {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: small;
    }

    .imageField {
      display: flex;
      flex-direction: column;
      gap: 3px;
      
      button {
        width: 50%;
      }
    }

    textarea {
      resize: vertical;
      background-color: rgb(229, 228, 228);
    }

    .closeButton {
        display: flex;
        position: absolute;
        right: 12px;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 1.5rem;
        font-weight: bold;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
        line-height: 1;
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        transform: translateZ(0);
    }

    .closeButton:hover {
        color: black;
    }

    .popupButton {
        background-color: #CAD2C5;
        color: black;
        margin-top: 10px;
        font-weight: 400;
    }
    img {
        width: 200px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
}

.notVisible {
  display: none;
}