.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  flex-wrap: wrap;
}
.profilePage {
  background-color: rgba(66, 80, 87, 0.6);
  box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 30px;
  margin: 1vh 6vw;
  flex-wrap: wrap;
  color: white;

    .mainPfp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
        text-align: left;
        flex-wrap: wrap;

        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
        }
    }

    .leftRight {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        flex-wrap: wrap;
        padding-bottom: 20px;

        .allInfo {
            text-align: left;
            background-color: #CAD2C5;
            padding: 10px;
            border-radius: 20px;
            flex-wrap: wrap;
            color: black;

            .textBkgnd {
                display: flex;
                background-color: rgb(229, 227, 227);
                padding: 4px;
                border-radius: 10px;
                flex-wrap: wrap;
            }

            button {
                margin-top: 5px;
                background-color: rgb(242, 235, 235);
            }
        }

        .preferences {
            display: flex;
            text-align: left;
            background-color: #CAD2C5;
            padding: 10px;
            border-radius: 20px;
            color: black;
            gap: 5vw;
            height: 35vh;
            overflow-y: scroll;

            .multi-select {
                width: 150px;
                color: #363636;
                background-color: #f5fbef;
                border: 1px solid #ccc;
                border-radius: 6px;
                padding: 4px 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                outline: none;
                cursor: pointer;
                overflow-y: auto;
                height: auto;
                font-family: "Outfit", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
            }
            .multi-select option {
                padding: 2px 6px;
            }
            .multi-select option:checked {
                background-color: #9D8189;
                color: white;
                font-weight: 500;
            }

            .preferredItem {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3px;
                flex-wrap: wrap;
                overflow: scroll;

                button {
                    background-color: rgb(242, 235, 235);
                }
            }
        }
    }

    button {
        margin-right: 10px;
        background-color: rgba(202, 210, 197, 1);
        margin-top: 10px;
    }

    .logoutButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 699px) {
    .profilePage {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin: 1vh 6vw;
        flex-wrap: wrap;
        color: white;

            .mainPfp {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding-bottom: 10px;
                text-align: center;
                flex-wrap: wrap;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                }
            }

            .leftRight {
                display: flex;
                flex-direction: row;
                gap: 5vw;
                flex-wrap: wrap;
                padding-bottom: 20px;
                justify-content: center;
                align-items: center;
                text-align: center;

                .allInfo {
                    text-align: left;
                    background-color: rgb(210, 197, 196);
                    padding: 10px;
                    border-radius: 20px;
                    flex-wrap: wrap;
                    color: black;

                    .textBkgnd {
                        display: flex;
                        background-color: rgb(229, 227, 227);
                        padding: 4px;
                        border-radius: 10px;
                        flex-wrap: wrap;
                    }
                }

                .preferences {
                    text-align: left;
                    background-color: #CAD2C5;
                    padding: 10px;
                    border-radius: 20px;
                    color: black;

                    .preferredItem {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 3px;
                        overflow: scroll;
                        flex-wrap: wrap;

                        button {
                            background-color: rgb(242, 235, 235);
                        }
                    }
                }
            }
        }
}