.rightNavColumn {
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    .upcomingEvents {
        text-align: left;
        margin-bottom: 5vh;
    }
    
    .upcomingEventInfo {
        display: flex;
        flex-direction: column;
        background-color: #d0c2c2;
        padding: 10px;
        border-radius: 30px;
        flex-wrap: wrap;
        overflow: scroll;

        .artistInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            padding-bottom: 10px;

            .artistInfoText {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 100px;
            }

            .date {
                font-size: small;
            }
        };
    };

    .suggestions{
        text-align: left;
        color: white;
        overflow-y: scroll;

        .suggestionsBox {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .artistInfo {
                display: flex;
                flex-direction: row;
                background-color: rgba(202, 210, 197, 0.8);
                border-radius: 30px;
                padding: 10px;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-top: 5px;
                padding-bottom: 10px;
                flex-wrap: wrap;
                color: black;
                
                .artistLeft {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                };

                .artistInfoText {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                }

                .userName {
                    font-size: small;
                }

                .followButton {
                    color: black;
                    background-color: white;
                    font-size: small;
                    border-radius: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

            }; 
        };
    };
};

