.rightNavColumn {
    display: flex;
    flex-direction: column;

    .upcomingEvents {
        text-align: left;
        margin-bottom: 5vh;
    }
    
    .upcomingEventInfo {
        display: flex;
        flex-direction: column;
        background-color: #d0c2c2;
        padding: 10px;
        border-radius: 30px;
        flex-wrap: wrap;
        overflow: scroll;

        .artistInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            padding-bottom: 10px;

            .artistInfoText {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 100px;
            }

            .date {
                font-size: small;
            }
        };
    };

    .suggestions{
        text-align: left;

        .suggestionsBox {
            display: flex;
            flex-direction: column;
            background-color: #d0c2c2;
            padding: 10px;
            border-radius: 30px;
            flex-wrap: wrap;
            overflow: scroll;


            .artistInfo {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                padding-bottom: 10px;
                flex-wrap: wrap;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                };

                .artistInfoText {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                }

                .userName {
                    font-size: small;
                }
            }; 
        };
    };
};

